---
---

$wrap: 800px;

.professor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
}

.professor-image {
  flex-shrink: 0;
  width: 30%;
  aspect-ratio: 2 / 3;
  border-radius: var(--rounded);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.professor-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.professor-text {
  flex-grow: 1;
}

.professor-title {
  font-size: var(--large);
  text-align: center;
  font-family: var(--heading);
  font-weight: var(--semi-bold);
}

.professor[data-flip] {
  flex-direction: row-reverse;
}

@media (max-width: $wrap) {
  .professor {
    flex-direction: column !important;
  }

  .professor-image {
    width: 30%;
    max-width: calc(2/3);
  }
}
