<!DOCTYPE html>
<html lang="en" data-dark="false">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {% include content.html content=content %}
    </main>
    {% include footer.html %}
  </body>
</html>
<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item dropdown">
      <a href="/Competition/">Competition</a>
      <ul class="dropdown-menu">
        <li><a href="/Competition/Multi_UAV">基於多無人機編隊與影像辨識之遇難者搜救與定位系統</a></li>
        <li><a href="/Competition/Image_Based">基於影像辨識之後車防撞警示邊緣計算輔助系統</a></li>
      </ul>
    </li>
  </ul>
</nav>
